

<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <!--Made with love by Mutiullah Samim -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #17a2b8;
            height: 100vh;
        }

        #login .container #login-row #login-column #login-box {
            margin-top: 120px;
            max-width: 600px;
            height: 320px;
            border: 1px solid #9C9C9C;
            background-color: #EAEAEA;
        }

            #login .container #login-row #login-column #login-box #login-form {
                padding: 20px;
            }

                #login .container #login-row #login-column #login-box #login-form #register-link {
                    margin-top: -85px;
                }
    </style>
</head>
<body>
    @model TP_E_Commerce.Models.VIewModelLogin
    @{ Layout = null; }
    @using (Html.BeginForm("Login", "Login"))
    {
@Html.AntiForgeryToken()
                <div id="login">
                    <div class="container">
                        <div id="login-row" class="row justify-content-center align-items-center">
                            <div id="login-column" class="col-md-6">
                                <div id="login-box" class="col-md-12">
                                    <h3 class="text-center text-info">SuperMerk2</h3>
                                    <div class="form-group">
                                        <label for="username" class="text-info">Usuario:</label><br>
                                        <input type="text" name="username" id="username" class="form-control">
                                        <p style="color:red; display:none" id="errorUsername">Nombre de usuario sin completar</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="text-info">Contraseña:</label><br>
                                        <input type="password" name="password" id="password" class="form-control">
                                        <p style="color:red; display:none" id="errorPassword">Ingrese su contraseña</p>
                                    </div>
                                    <div class="form-group">
                                        <input type="button" name="submit" onclick="Ingresar()" class="btn btn-info btn-md" value="Ingresar">
                                    </div>
                                    <div id="register-link" class="text-right">
                                        <a href="#" class="text-info">Registrarse</a>
                                    </div>
                                    <p style="color:red; display:none" id="ErrorGeneral"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
      }




<script>

        function Ingresar() {
        var errorUsername = document.getElementById("errorUsername");
        var errorPassword = document.getElementById("errorPassword");
        var ErrorGeneral = document.getElementById("ErrorGeneral");
            var url = "@Url.Action("Login", "Login")";
        var Usuario = {
            Username: document.getElementById("username").value,
            Password: document.getElementById("password").value
        }
        Usuario.Username == "" ? errorUsername.style.display = "block" : errorUsername.style.display = "none";
        Usuario.Password == "" ? errorPassword.style.display = "block" : errorPassword.style.display = "none";
            if (Usuario.Username != "" || Usuario.Password != "") {
                $.post(url, Usuario).done(function (data) {
                    if (data.Ok) {
                        window.location.href = data.redirectURL;
                    }
                    else {
                        ErrorGeneral.style.display = "block";
                        ErrorGeneral.innerText = data.message;
                    }
                });
        }

    }
</script>
</body> 
</html>